<div class="container mt-3 mb-3">
    <div class="alert alert-danger mb-3">

        @if (ViewBag.ErrorTitle == null)
        {
            <h3>Bad request</h3>
            <hr />
            <h3>Exception Details:</h3>
            <div>
                <h5>Exception Path:</h5>
                <hr />
                <p>@ViewBag.ExceptionPath</p>

            </div>
            <div>
                <h5>Exception Message:</h5>
                <hr />
                <p>@ViewBag.ExceptionMessage</p>
            </div>
            <div>
                <h5>Exception Stack Trace:</h5>
                <hr />
                <p>@ViewBag.StackTrace</p>
            </div>
        }
        else
        {
            <h2>@ViewBag.ErrorTitle</h2>
            <h6>@ViewBag.ErrorMessage</h6>
        }

    </div>

    <div>
        <a class="btn btn-danger" asp-action="Index" asp-controller="Home">
            Return to home page
        </a>
    </div>
</div>
